.slice_tree_item,
.container_open .slice_tree_item {
   color: var(--text-1);
   user-select: none;
   cursor: pointer;
   width: fit-content;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   padding: 10px;
   border-radius: var(--border-radius-slice);
}
.slice_tree_item .caret {
   color: var(--accent);
   margin-right: 5px;
   transform: rotate(-90deg);
}
.slice_tree_item .caret_open {
   transform: rotate(0deg);
}
.container {
   margin-left: 14px;
   border-left: 2px solid var(--accent);
   height: 0;
   overflow: hidden;
   transition: height 0.3s ease;
}

.container_open {
   height: auto; /* Esto se ajustará después de la transición */
}

.slice_tree_item:hover {
   background-color: rgba(var(--accent-rgb), 0.12);
   color: var(--accent);
}
